@model IEnumerable<Attendance.Models.Department>



<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeptId" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeptId" class="btn btn-dark">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeptId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
